---
import Section from "../components/common/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Section class="mt-16">
    <h1 class="text-3xl sm:text-4xl font-display pb-4">
      Halaman tidak ditemukan
    </h1>
    <p class="text-xl sm:text-2xl pb-8">
      Tautan yang kamu buka tidak tersedia atau sudah dipindahkan.
    </p>
    <p class="pb-6">
      Jangan khawatir, kamu bisa kembali ke halaman-halaman berikut untuk melanjutkan eksplorasi:
    </p>
    <ul class="flex flex-wrap gap-4 text-base">
      <li>
        <a class="underline underline-offset-4 font-medium" href="/">Beranda</a>
      </li>
      <li>
        <a class="underline underline-offset-4 font-medium" href="/blog">Tulisan</a>
      </li>
      <li>
        <a class="underline underline-offset-4 font-medium" href="/services">Layanan</a>
      </li>
      <li>
        <a class="underline underline-offset-4 font-medium" href="/projects">Projek</a>
      </li>
    </ul>
  </Section>
</Layout>
